# Ignorar datasets y resultados
dataset/
runs/

# Ignorar carpetas de predicciones y ejecuciones de monai_swinunetr
models/monai_swinunetr/preds_nnunet/
models/monai_swinunetr/preds_swinunetr/
models/monai_swinunetr/runs/
