# Ignorar datasets y resultados
dataset/
runs/

# Ignorar carpetas de predicciones y ejecuciones de monai_swinunetr
monai_swinunetr/preds_nnunet/
monai_swinunetr/preds_swinunetr/
monai_swinunetr/runs/
